<!DOCTYPE html>
<html>
<head>
  <title>Commentable</title>
  <%= stylesheet_link_tag    "commentable/application", :media => "all" %>
  <%= javascript_include_tag "commentable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
